<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}"/>
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/lscore/common/bootstrap-3.3.6/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/front/images/favicon.png') }}"/>
</head>
<body>
{% set currentRoute = app.request.attributes.get('_route') %}

{% block content %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/lscore/common/jquery-1.12.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/bootstrap-3.3.6/js/bootstrap.min.js') }}" type="text/javascript"></script>
{% endblock %}

</body>
</html>
