{% extends '::backend.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a target="_blank" href="{{ path('ls_allegro_offers_category_by_year_rss', {'templateId': template.id, 'categoryId': category.id, 'year': year}) }}" class="btn btn-default">
                <i class="glyphicon glyphicon-signal"></i>
                RSS
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% if offers|length > 0 %}
                <div class="panel panel-default table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="check">
                                <input type="checkbox" class="select-all">
                            </th>
                            <th>Tytuł</th>
                            {% if template.hasYear %}
                                <th>Rok produkcji</th>
                            {% endif %}
                            <th>Cena</th>
                            <th>Opcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for offer in offers %}
                            <tr>
                                <td class="check">
                                    <input type="checkbox" class="ids" name="ids[]" value="{{ offer.id }}">
                                </td>
                                <td class="text">{{ offer.title }}</td>
                                {% if template.hasYear %}
                                    <td class="text">{{ offer.year }}</td>
                                {% endif %}
                                <td class="text">{{ offer.price }} PLN</td> 
                                <td class="text-right">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                        <a href="http://allegro.pl/show_item.php?item={{ offer.itemId }}" target="_blank" class="btn btn-primary" title="Pokaż ofertę">
                                            <i class="glyphicon glyphicon-zoom-in"></i> Pokaż ofertę
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h4 class="text-center">Brak elementów w bazie</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}