{% extends '::backend.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).on('change', '#limit-select', function () {
            var limit = $(this).val();
            $.ajax({
                type: 'post',
                url: '{{ path('ls_admin_allegro_set_limit') }}',
                data: {
                    'limit': limit
                },
                success: function (response) {
                    window.location.pathname = '{{ path('ls_admin_allegro_categories', {'parentId': parentId}) }}';
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}
    
    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% if entities|length > 0 %}
                <div class="panel panel-default table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Data zapisu</th>
                            <th>Opcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td class="text">{{ entity.itemTitle }}</td>
                                <td class="text">{{ entity.createdAt|localizeddate('long') }}</td>
                                <td class="text-right opcje">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                        <a href="{{ path('ls_admin_allegro_categories_filters',{'categoryId': entity.id}) }}" title="Filtry">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </a>
                                        <a href="{{ path('ls_admin_allegro_categories',{'parentId': entity.id}) }}" title="Podkategorie">
                                            <i class="glyphicon glyphicon-list"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="form-inline">
                                    <div class="pull-right">
                                        <span>Strona {{ page }} z {{ entities.getPageCount }} - {{ entities.getTotalItemCount }} wyników - na stronie</span>
                                        <select id="limit-select" class="form-control">
                                            <option value="15"{% if limit == 15 %} selected="selected"{% endif %}>15</option>
                                            <option value="25"{% if limit == 25 %} selected="selected"{% endif %}>25</option>
                                            <option value="50"{% if limit == 50 %} selected="selected"{% endif %}>50</option>
                                            <option value="100"{% if limit == 100 %} selected="selected"{% endif %}>100</option>
                                            <option value="150"{% if limit == 150 %} selected="selected"{% endif %}>150</option>
                                            <option value="200"{% if limit == 200 %} selected="selected"{% endif %}>200</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% if entities.getPageCount > 1 %}
                            <tr>
                                <td class="pagination-container" colspan="6">
                                    {{ knp_pagination_render(entities) }}
                                </td>
                            </tr>
                        {% endif %}
                        </tfoot>
                    </table>
                </div>
            {% else %}
                <h4 class="text-center">Brak elementów w bazie</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h4>Usuwanie aktualności</h4></div>
                <div class="modal-body">Czy napewno chcesz usunąć tę aktualność?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <a href="#" class="btn btn-danger btn-ok-delete">Usuń</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
