{% extends '::backend.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_allegro_categories', {'parentId': parentId}) }}" class="btn btn-success">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy kategorii
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% if entities|length > 0 %}
                <ul class="inline-list">
                    {% for entity in entities %}
                        <li>
                            <h3><strong>{{ entity.title }}</strong></h3>
                            {% if entity.values|length > 0 %}
                                <div class="values-in-filters">
                                    <p><strong>Wartości:</strong></p>
                                    <ul class="unstyled">
                                        {% for item in entity.values %}
                                            <li>{{ item.title }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <p><em>Brak przypisanych wartości</em></p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h4 class="text-center">Brak elementów w bazie</h4>
            {% endif %}
        </div>
    </div>
    <br><br><br><br><br><br>
{% endblock %}