{% extends '::backend.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}
    
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% if subcategories|length > 0 %}
                <div class="panel panel-default table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="check">
                                <input type="checkbox" class="select-all">
                            </th>
                            <th>Nazwa podkategorii</th>
                            <th>Ilość okazjonalnych ofert</th>
                            <th>Opcje</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in subcategories %}
                            <tr>
                                <td class="check">
                                    <input type="checkbox" class="ids" name="ids[]" value="{{ entity.id }}">
                                </td>
                                <td class="text">{{ entity.itemTitle }}</td>
                                <td class="text">{{ entity.getPromotedOffersList()|length }}</td>
                                <td class="text-right opcje">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                        {% if entity.children|length > 0 %}
                                        <a href="{{ path('ls_admin_allegro_categories_list', {'templateId': template.id, 'categoryId': entity.id}) }}" title="Podkategorie">
                                            <i class="glyphicon glyphicon-th-large"></i>
                                        </a>
                                        {% endif %}
                                        {% if entity.getPromotedOffersList|length > 0 %}
                                            <a href="{{ path('ls_admin_allegro_categories_list_years', {'templateId': template.id, 'categoryId': entity.id }) }}" title="Lista ofert wg. roku produkcji">
                                                <i class="glyphicon glyphicon-indent-right"></i>
                                            </a>
                                            <a href="{{ path('ls_admin_allegro_categories_list_offers', {'templateId': template.id, 'categoryId': entity.id }) }}" title="Lista ofert">
                                                <i class="glyphicon glyphicon-list"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h4 class="text-center">Brak elementów w bazie</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}