{% import _self as this %}
{% form_theme filterForm with 'LsCoreBundle:Backend:fields.html.twig' %}
{% set otherRenderFields = ['submit', 'submit_and_list', 'submit_and_new', '_token', 'category_id', 'includeKeywords', 'excludeKeywords', 'maxPriceDifference'] %}

<style>
    .checkbox-group {
        column-count: 2;
    }
</style>

<hr>
<h3>Filtry (Kategoria: {{ category.itemTitle }})</h3>
{{ form_start(filterForm, {'attr': {'id': filterForm.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
    {% for inputName, input in filterForm.children %}
        {% if input.vars.attr.data_range is defined %}
            <div class="form-group">
                {{ form_label(input, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                {{ this.renderRangeInput(filterForm, input.vars.attr.data_range) }}
            </div> 
        {% elseif inputName not in otherRenderFields %}
            <div class="form-group">
                {{ form_label(input, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(input) }}
                </div>
            </div>
        {% elseif inputName == "includeKeywords" %}
            <div class="form-group">
                {{ form_label(input, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(input) }}
                    <p class="help-block">Jeśli oferta zawiera te słowa kluczowe wtedy oferta jest okazjonalna bez względu na cenę</p>
                </div>
            </div>
        {% elseif inputName == "excludeKeywords" %}
            <div class="form-group">
                {{ form_label(input, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(input) }}
                    <p class="help-block">Jeśli oferta zawiera te słowa kluczowe wtedy oferta jest ignorowana bez względu na cenę</p>
                </div>
            </div>
        {% elseif inputName == "maxPriceDifference" %}
            <div class="form-group">
                {{ form_label(input, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(input) }}
                    <p class="help-block">Max możliwy próg cenowy, czyli taki powyżej którego oferta nie jest uznawana za okazyjną (chodzi o odrzucenie ofert gdzie różnica ceny wynosi np. 60%)</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <br>
    {{ form_widget(filterForm.category_id, {'value': category.id}) }}
    <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            {{ form_widget(filterForm.submit, {'attr': {'class': 'btn btn-primary' }}) }}
            {{ form_widget(filterForm.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
            {{ form_widget(filterForm.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}
        </div>
    </div>
    <br><br><br><br>
{{ form_end(filterForm) }}

{% macro renderRangeInput(filterForm, rangeName) %}
    {% for input in filterForm.children %}
        {% if input.vars.attr.data_range is defined %}
            {% if input.vars.attr.data_range == rangeName %}
                <div class="col-sm-4">
                    {{ form_widget(input, {'attr': {'class': 'form-control' }}) }}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}