{% extends '::backend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_allegro_templates') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs pills">
                <li class="active">
                    <a data-toggle="tab" href="#tab-general">Galeria</a>
                </li>
            </ul>

            <div class="tab-content" style="margin-top: 15px;">
                <div id="tab-general" class="tab-pane active">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Wybierz kategorię</label>
                        <div class="col-sm-9">
                            <div class="col-sm-12">
                                <input type="text" class="search-input form-control" placeholder="Szukaj"><br>
                                <div id="categories-tree"></div>
                            </div>
                        </div>
                    </div>
                    <br><br><br><br>
                    <div id="filters">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/lscore/admin/tree/themes/default/style.min.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lscore/admin/tree/jstree.min.js') }}" type="text/javascript"></script>
    
    <script>
        $(function() {

            $(".search-input").keyup(function() {

                var searchString = $(this).val();
                console.log(searchString);
                $('#categories-tree').jstree('search', searchString);
            });


            $('#categories-tree').jstree({
                'core': {
                    'multiple' : false,
                    'data' : {
                        'url' : function (node) {
                          return "{{ path('ls_admin_allegro_templates_categories_json') }}";
                        },
                        'data' : function (node) {
                          return { 'id' : node.id };
                        }
                    }
                },
                "search": {

                    "case_insensitive": true,
                    "show_only_matches" : true


                },

                "plugins": ["search"]
            });
        });
        
        $('#categories-tree').on("changed.jstree", function (e, data) {
            var selectedId = parseInt(data.selected[0]);
            
            $.ajax({
                type: "POST",
                url: "{{ path('ls_admin_allegro_templates_categories_filters') }}",
                data: {selectedId: selectedId},
                success: function(data) {
                    $("#categories-tree").jstree('close_all');
                    $('#filters').html(data.html);
                    chosenSelect();
               }
            });
        });
        
        function chosenSelect() {
            var config = {
              '.chosen-select'           : {},
            }
            for (var selector in config) {
              $(selector).chosen(config[selector]);
            }
        }
        
        chosenSelect();
    </script>
    
{% endblock %}