{% extends '::backend.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">{{ wo_render_breadcrumbs() }}</div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-8">
            {% for block in dashboard.getBlocks() %}
                <table class="table">
                    <tbody>
                    <tr class="active">
                        <td colspan="2"><b>{{ block.getName() }}</b></td>
                    </tr>
                    {% for row in block.getRows() %}
                        <tr>
                            <td class="col-xs-4 text-right vert-align"><b>{{ row.getName() }}</b></td>
                            <td class="col-xs-8">
                                <div class="btn-group">
                                    {% for link in row.getLinks() %}
                                        <a href="{{ link.getUrl() }}" class="btn btn-link">
                                            <span class="glyphicon {{ link.getIcon() }}" aria-hidden="true"></span>
                                            {{ link.getName() }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}